body {
  font-family: "Spoqa Han Sans Neo", sans-serif;
}

.mfp-title,
.mfp-counter {
  font-family: "Spoqa Han Sans Neo", sans-serif;
  font-weight: 500;
}

.section-title-inner {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}

#menu-mobile {
  font-family: "Spoqa Han Sans Neo", sans-serif;
}

.more-button span {
  font-family: "Spoqa Han Sans Neo", Arial, sans-serif;
}

.section-intro p,
#contact .section-intro p {
  font-family: "Spoqa Han Sans Neo", sans-serif;
}

.post-email-title {
  font-family: "Spoqa Han Sans Neo", sans-serif;
}

.social-icons {
  font-family: "Spoqa Han Sans Neo", sans-serif;
}

.social-icons li a:hover,
.social-icons li a:visited,
.social-icons li a:active,
.social-icons li a:focus {
  font-family: "Spoqa Han Sans Neo", sans-serif;
}

h3 {
  font-family: "Spoqa Han Sans Neo", sans-serif;
}

h1.section-header {
  font-family: "Spoqa Han Sans Neo", sans-serif;
}

h2.section-heading {
  font-family: "Spoqa Han Sans Neo", sans-serif;
}

.section-title-inner.section-title-inner-all {
  font-family: "Spoqa Han Sans Neo", sans-serif;
}

h1 {
  font-family: "Spoqa Han Sans Neo", sans-serif;
  font-weight: 700;
}

h4 {
  font-family: "Spoqa Han Sans Neo", sans-serif;
}
